# dash is required to call `build:py`
gunicorn
dash
dash-bootstrap-components
dash-core-components
pandas
plotly-express
dash-daq
dash-html-components
numpy
xlrd
dash-extensions
pybase64
prophet
matplotlib
